.dropdown,
.dropend,
.dropstart,
.dropup {
  position: unset !important;
}
.dropdown-menu.show {
  width: 100% !important;
  position: absolute;
  min-width: 100%;
  right: 0;
  left: 0;
  background: transparent;
}
ul {
  padding: 0px;
  margin: 0px;
}
.title14 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.font-bold {
  font-weight: 600;
}
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mega-list-cat ul li a {
  display: block;
  padding: 3px 0;
}
.mtb {
  margin-top: 5px;
  margin-bottom: 10px;
}
.mega-list-cat ul.list-none {
  width: 50%;
  float: left;
  font-size: 13.5px;
}
.mega-list-cat h2 {
  font-size: 15px;
  letter-spacing: 0.2px;
  margin-bottom: 12px;
}
.mega-list-cat li a img.img-size1 {
  width: 27px;
  margin-right: 8px;
}
.header-nav2 .main-nav ul li a:hover {
  background: transparent !important;
}
.mega-list-cat h2 a:hover {
  transition: none;
}
.mega-list-cat ul li {
  list-style-type: none;
}
.mega-list-cat ul li a {
  display: block;
  padding: 3px 0;
}
.mtb {
  margin-top: 5px;
  margin-bottom: 10px;
}
.mega-list-cat h2 {
  font-size: 15px;
  letter-spacing: 0.2px;
  margin-bottom: 12px;
}
img.img-size {
  width: 28px;
  margin-right: 3px;
  margin-top: -5px;
}
.header-nav2 .main-nav ul li a:hover {
  background: transparent !important;
}
.dropdown-menu.show .container {
  max-width: 1900px;
}
ol, ul {
  padding-left: 0 !important;
}
img {
  width: 100%;
}