body{
  overflow-y: hidden;
}
a {
  color: #000 !important;
  text-decoration: none !important;
}
ol, ul
{
  padding-left: 0 !important;
}
ol, ul li 
{
  list-style-type: none;
}
.top-bar {
  padding: 5px 0;
  background-color: #000;
  color: #fff;
}
.overlay {
  --gradient-color: none !important;
}
.menu.desktop_menu {
  list-style-type: none;
  padding: 0 16px;
}
ul.navbar-right-ul {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
li.desktop_logo {
  width: 19%;
  margin-top: -6px;
}
ul.navbar-right-ul li.menu.dropdown.mega-dropdown a.cool_menu, ul.navbar-right-ul li.menu.cool_menu1 a {
  color: #000;
  padding: 25px 0;
  text-transform: uppercase;
  font-size: 15px;
  background: 0 0;
  cursor: pointer;
  position: relative;
  line-height: 16px;
  transition: none;
  display: inline-block;
  text-decoration: none!important;
}
.dropdown-menu {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  left: 0;
  padding: 25px 0;
}
.dropdown, .dropend, .dropstart, .dropup
{
  position: unset !important;
}
.mega-list-cat li a img.img-size1 {
  width: 37px;
  margin-right: 18px;
  font-weight: 800;
}
img.img-size {
  width: 28px;
  margin-right: 3px;
  margin-top: -5px;
}
.mega-list-cat h2 {
  font-size: 15px;
  letter-spacing: .2px;
  margin-bottom: 12px;
}
.engagement_img {
  width: 50px;
}
img.img-fit-size {
  width: 23px;
  margin-right: 10px;
}
.mega-list-cat ul.list-none {
  width: 50%;
  float: left;
  font-size: 13.5px;
}
.dropdown-body.container {
  max-width: 100%;
  padding: 0 35px;
}
.mega-dropdown-menu {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 1px solid #ddd;
  height: auto!important;
}

.mega-list-cat ul li a {
  display: block;
  padding: 3px 0;
}
.mega-list-cat h2 {
  font-size: 15px;
  letter-spacing: .2px;
  margin-bottom: 12px;
}
ul.navbar-right-ul li.menu.dropdown.mega-dropdown a.cool_menu:before, ul.navbar-right-ul li.menu.cool_menu1 a:before {
  display: block;
  content: attr(data-title);
  font-weight: 700;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: -1px;
}
ul.navbar-right-ul li.menu.dropdown.mega-dropdown a.cool_menu::after {
  background-color: #ff8080!important;
}

ul.navbar-right-ul li.menu.dropdown.mega-dropdown a.cool_menu::after {
  content: ''!important;
  display: block!important;
  width: 0!important;
  height: 4px!important;
  transition: .1s width ease!important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  margin: 0 auto;
}
.m-top {
  margin-top: 15px;
}
.border_left_menu:before {
  content: "";
  position: absolute;
  right: 25px;
  top: -25px;
  height: 290px;
  width: 5%;
  border-right: 1px solid #e0e0e0;
}
.border_left_menu {
  position: relative;
}
.dropdown-menu {
  padding: 25px!important;  
  display: none;
  border: none !important;
  border-top: 1px solid #ccc !important;
  border-radius: 0 !important;
}
#overlay {
  background:rgba(0, 0, 0, 0.5);
  display:none;
  height:100%;
  left:0;
  position:absolute;
  top:113px;
  width:100%;
  z-index:5;
}
.color-con.con2 {
  border: 3px solid #FF8080 !important;
  background-color: transparent !important;
}

.color-con.con3 {
  border: 3px solid #848484 !important;
  background-color: transparent !important;
}

.color-con.con4 {
  border: 3px solid #C9A63A !important;
  background-color: transparent !important;
}
.color-con.con5 {
  border: 3px solid #e5e4e2 !important;
  background-color: transparent !important;
}
.color-con {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #ddd;
  vertical-align: middle;
}
.mobile_menu
{
  display: none;
}
.main-nav .toggle-mobile-menu::before {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  left: 0;
  top: 36%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.main-nav.active .toggle-mobile-menu::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.main-nav .toggle-mobile-menu::before, .main-nav .toggle-mobile-menu::after, .main-nav .toggle-mobile-menu span {
  background: #656565;
}
.main-nav .toggle-mobile-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 45%;
}
.main-nav.active .toggle-mobile-menu::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
ul li a:hover ~ #overlay {display: block;}
ul li a:hover ~ .dropdown-menu.mega-dropdown-menu {display: block;}
/* .desktop_menu:hover .dropdown-menu {display: block;} */
