@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
  .desktop_menu {
    display: none !important;
  }
  .mobile_menu {
    display: block !important;
    padding: 20px 0;
  }
  .drawer-icon {
    display: block !important;
  }
  .border_left_menu {
    content: none !important;
  }
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper,
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    width: 250px;
  }
  .dropdown-body.container {
    padding: 0 10px;
  }
  .mega-list-cat ul.list-none {
    width: 50%;
  }
  .border_left_menu::before {
    content: none;
  }
  .mega-list-cat ul li a {
    padding: 3px 0;
    font-size: 12px;
  }
  .menu-image-mob {
    width: 100%;
  }
  .MuiListItemButton-root.MuiListItemButton-gutters.MuiButtonBase-root.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .css-168pop2-MuiList-root {
    padding-top: 0 !important;
  }
  .logo.logo1 {
    display: inline-block;
  }
  .logo.logo1 img {
    width: 150px;
    margin: 0 10px 0 10px;
  }
  .MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    font-size: 11px;
    margin-right: -23px;
  }
}
.drawer-icon {
  display: none;
}
