@media only screen and (min-device-width: 320px) and (max-device-width: 991px) {
  .desktop_menu {
    display: none !important;
  }
  .mobile_menu {
    display: block !important;
    padding: 20px 0;
  }
  .logo.logo1 {
    display: inline-block;
    margin-right: auto;
  }
  .logo.logo1 img {
    width: 150px;
  }
  .mobile_menu .btn.btn-primary {
    background: none !important;
    border: none !important;
    color: #000 !important;
    right: 0;
    position: relative;
    box-shadow: none !important;
    text-transform: capitalize;
  }
  .offcanvas-start, .offcanvas-end
  {
    width: 300px !important;
    height: 100%;
  }
  .offcanvas-top, .offcanvas-bottom
  {
    height: 80vh !important;
  }
  .hidden-menu-content
  {
    visibility: hidden;
  }
  .offcanvas-body {
    padding: 0 !important;
  }
  .accordion-button {
    box-shadow: none !important;
    background: #f8f8f8 !important;
    color: #000 !important;
  }
  .accordion-body, .nav-link, .col-12
  {
    padding: 0 !important;
  }
  .accordion-body .content-mega-menu li a, .content-mega-menu h2, li.menu.cool_menu1 h2 a, .mega-list-cat
  {
    padding: 5px 5px !important;
    font-size: 14px;
  }
  .m-top {
    margin-top: 0;
  }
}